html {
    
}
h1 {
    border-radius: 10px;
    color: #80000;
    font-size: 35px;
    font-weight: bold;
    background-color: #F4F; 
    width:330px;
    text-align: center
}
#add-a-to-do{
    font-size: 20px;
    text-align: center;
    color: #000;
    outline:none;
    padding: 5px;
    border-radius: 5px;
    box-shadow:5px 5px 5px #90A4AE;
}
#add-a-to-do:active{
    box-shadow: 1px 1px 1px #90A4AE;
    color: #00FF00;
}
#add-a-to-do:hover{
    background-color: #008000
}
